<div class="containers">
  <h1 class="main-title">
    E-<span class="sub-mainT"
      >kart
      <span style="color: black; font-size: 1rem"
        >online shopping app</span
      ></span
    >
  </h1>
  <div class="main-content">
    <div class="forget-container">
      <form>
        <h3 class="title">Forget Password</h3>
        <label class="subtitle1"
          >A verification code will be sent on your registered email.</label
        >
        <label class="subtitle2 mt-3">Email</label>
        <div class="input-group mt-5">
          <span class="input-group-text">
            <i class="fas fa-envelope"></i>
          </span>
          <input
            type="text"
            placeholder="Enter your email"
            class="form-control"
          />
        </div>
        <div class="mt-5">
          <button type="submit" class="btn btn-primary" routerLink="/verifyOTP">
            Request email
          </button>
        </div>
        <div>
          <label class="signup"> Back to? </label>
          <span class="sign-span" routerLink="/login">&nbsp;Sign in</span>
        </div>
      </form>
    </div>
  </div>
</div>
