<div class="container-fluid">
  <div class="container-wrapper">
    <div class="image-content">
      <div class="image-sticky-wrapper">
        <div class="image-wrapper">
          <div class="image-column" routerLink="/pages/product-Details">
            <img
              src="../assets/cart-Images/sweat-shirt.webp"
              class="d-block w-100"
              alt="..."
              style="max-height: 370px; max-width: 550px"
            />
          </div>
        </div>

        <div class="footer-btn mt-3">
          <button
            type="submit"
            class="btn add-btn"
            routerLink="/pages/viewCart"
          >
            <i class="fa-solid fa-cart-shopping"></i>&nbsp; Go To Cart
          </button>
          <button type="submit" class="btn buy-btn">
            <i class="fa-solid fa-bolt-lightning"></i>&nbsp; Buy Now
          </button>
        </div>
      </div>
    </div>

    <div class="details-content">
      <span class="map-menu">
        <div class="menu-text d-block w-100" style="max-width: 400px">
          Home > Clothing and Accessories>Winter Wear > Sweatshirts>Men's Sweat
          shirts > FIONAA TRENDZ Men's Sweatshirts FIONAA TRENDZ Full Sleeve
          Printed Men Sweatshirt
        </div>

        <button class="btn border-0">
          <i class="fa-solid fa-share" style="color: rgb(209, 203, 203);"></i> &nbsp;Share
        </button>
      </span>

      <h6 style="color: gray; font-size: 1.1rem">FIONAA TRENDZ</h6>
      <h6 style="font-size: 1.4rem">
        Men Full Sleeve Printed Hooded Sweatshirt
      </h6>
      <h6 style="color: green">Special price</h6>
      <p class="value">
        <span style="font-size: 1.9rem;font-weight: 500;"> ₹625 </span
        ><span style="text-decoration: line-through; color: grey">&nbsp; ₹999</span>
        <span style="color: green">&nbsp; 37% off</span>
      </p>

      <div class="rating-head">
        <h4>
          <span class="rating">3.8 <i class="fa-solid fa-star"></i></span>
          &nbsp;78 ratings and 2 reviews
        </h4>
      </div>

      <div class="size-details">
        <h6 style="color: gray" class="mt-3">Size</h6>
        <div class="size-options">
          <h6 class="size">M</h6>
          <h6 class="size">L</h6>
          <h6 class="size">XL</h6>
          <h6 class="size-chart">Size Chart</h6>
        </div>
      </div>

      <div class="offers">
        <h6 class="mt-2" style="font-size: 1.2rem; font-weight: 500">
          Available offers
        </h6>

        <p>
          Bank Offer 10% off on Bank of Baroda Credit Card EMI Txns, up to
          ₹2,000 on orders of ₹10,000 and above
          <span style="color: #2874f0">T&C</span>
        </p>

        <p>
          Bank Offer 10% off on IDFC FIRST Bank Credit Card EMI Transactions, up
          to ₹1,750 on orders of ₹10,000 and above
          <span style="color: #2874f0">T&C</span>
        </p>

        <p>
          Bank Offer 8% off on Yes Bank Credit Card EMI Transactions, up to
          ₹2,000 on orders of ₹10,000 and above
          <span style="color: #2874f0">T&C</span>
        </p>

        <p>
          Bank Offer Extra ₹1000 off on Bank of Baroda Credit Card EMI 9 months
          and above tenure, Min. Txn Value ₹29,990
          <span style="color: #2874f0">T&C</span>
        </p>

        <p style="color: #2874f0">+3 more offers</p>

        <div class="address">
          <h6><i class="fa-solid fa-location-dot"></i> Deliver to
          <span class="service-info"  style="float: right">Services</span>
            <span>Cash on Delivery available</span></h6>

        </div>
      </div>

      <hr />

      <div class="product-details">
        <div class="header-title">
          <h1>Product Details</h1>
        </div>

        <div class="Description">
          <table class="table table-borderless">
            <!-- <thead>
               <th >Description</th>
                <th >price Cost</th>
            </thead> -->

            <tbody>
              <tr>
                <td>Color</td>
                <td>Blue</td>
              </tr>
              <tr>
                <td>Fabric</td>
                <td>Fleece</td>
              </tr>
              <tr>
                <td>Pattern</td>
                <td>Printed</td>
              </tr>
              <tr>
                <td>Sleeve</td>
                <td>Full Sleeve</td>
              </tr>

              <tr>
                <td>Style Code</td>
                <td>SWEATSHIRTTT</td>
              </tr>

              <tr>
                <td>Sales Package</td>
                <td>1</td>
              </tr>

              <tr>
                <td>Occasion</td>
                <td>Casual</td>
              </tr>
              <tr>
                <td>Pockets</td>
                <td>Kangaroo</td>
              </tr>
              <tr>
                <td>Hooded</td>
                <td>Yes</td>
              </tr>
              <tr>
                <td>Reversible</td>
                <td>No</td>
              </tr>
              <tr>
                <td>Knit Type</td>
                <td>Fleece</td>
              </tr>
              <tr>
                <td>Suitable For</td>
                <td>Western Wear</td>
              </tr>
              <tr>
                <td>Fabric Care</td>
                <td>Machine Wash as per Tag</td>
              </tr>
              <tr>
                <td>Net Quantity</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>

          <p>
            FIONAA TRENDZ, Sweatshirt For Men's All our products are passed
            through different levels of the Quality Check process to ensure that
            the right and the best quality product reaches our customers. We do
            not compromise on the Quality of the products. Perfect for Winter's
            Night Highways long drive. Full Sleeve Kangaroo Pockets which are
            enough to cover your palm, when you feel cold when you feel cold
            Style Fashionable Hoodie Perfect for Trending Stylish Look.
          </p>
        </div>

        <hr />
        <div class="review-section">
          <div class="header-title">
            <h1>
              Ratings & Reviews
              <span style="font-size: 1rem; margin-left: 25px"
                ><span class="rating"
                  >3.8 <i class="fa-solid fa-star"></i
                ></span>
                &nbsp;78 ratings and 2 reviews</span
              >

              <span
                ><button
                  type="submit"
                  class="btn btn-primary"
                  style="float: right"
                >
                  Rate Product
                </button></span
              >
            </h1>
          </div>

          <div class="rate">
            <h6>
              <span class="rating">4 <i class="fa-solid fa-star"></i></span>
              &nbsp;Good Quality
            </h6>

            <div class="comment-content">
              <p>
                Debjeet Bairagya
                <span style="margin-left: 15px"> 2 months ago</span>
              </p>

              <div class="comment-icons">
                <span><i class="fas fa-thumbs-up"></i></span>
                <span><i class="fas fa-thumbs-down"></i></span>
                <span><i class="fas fa-ellipsis-vertical"></i></span>
              </div>
            </div>
            <div class="comment-content">
              <p style="margin-top: -10px; font-size: 14px">
                Certified Buyer, Purba Bardhaman District
              </p>
            </div>

            <hr />

            <h6>
              <span class="rating">5 <i class="fa-solid fa-star"></i></span>
              &nbsp;This hoodie is very very good 👍
            </h6>
            <div class="comment-content">
              <p>
                Adarsh Kumar

                <span style="margin-left: 15px"> 27 days ago</span>
              </p>

              <div class="comment-icons">
                <span><i class="fas fa-thumbs-up"></i></span>
                <span><i class="fas fa-thumbs-down"></i></span>
                <span><i class="fas fa-ellipsis-vertical"></i></span>
              </div>
            </div>
            <div class="comment-content">
              <p style="margin-top: -10px; font-size: 14px">
                01 Certified Buyer, Samastipur District
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
