.container-fluid {
  height: max-content;
  padding: 10px 20px;
  background-color: #e7e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-wrapper {
  display: flex;
  gap: 20px;
  padding: 1rem;
  background-color: white;
}

/* .image-content */
.image-content {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.image-sticky-wrapper {
  position: sticky;
  top: 0;  
}
.image-column {
  overflow: hidden;
}

.image-column img {
  transition: transform 0.3s ease-in-out;
}

.image-column:hover img {
  transform: scale(1.1);
}

.footer-btn {
  display: flex;
  gap: 10px;
  font-family: "Afacad", sans-serif;
}

.add-btn {
  width: 98%;
  padding: 18px 8px;
  border-radius: 2px;
  border: none;
  float: left;
  background: #ff9f00;
  color: white;
}

.buy-btn {
  width: 98%;
  background: #fb641b;
  color: white;
  float: right;
}

.add-btn:hover {
  background: #ff9f00;
  color: white;
}

.buy-btn:hover {
  background: #fb641b;
  color: white;
}

/* Details-content  */
.details-content {
  display: flex;
  /* border: 2px solid rgb(255, 47, 47); */
  flex-direction: column;
  width: 900px;
}

.map-menu {
  display: flex;
  font-size: 14px;
  font-family: "Afacad", sans-serif;
  color: gray;
}

.menu-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%; /* Ensures the block-level element takes full width of the parent */
}

.map-menu button {
  margin-left: auto;
  font-size: 1em;
  color: gray;
}

.offers {
  font-family: "Afacad", sans-serif;
  font-size: 0.9rem;
}

h1,
h6,
h4 {
  font-family: "Afacad", sans-serif;
}

.value {
  font-family: "Afacad", sans-serif;
  font-weight: 500;
}

.size-details {
  display: flex;
  flex-direction: column;
}

.size-options {
  display: flex;
  margin-left: 3rem;
}

.size {
  border: 1px solid rgb(229, 218, 218);
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 1.3rem;
}

.size-chart {
  margin-left: 10px;
  color: #2874f0;
}

.available-offers i {
  color: #26a541;
  font-size: 1.1rem;
  margin-right: 10px;
}

.address i {
  color: #2874f0;
}
.address-head {
  display: flex;
  flex-direction: row;
}
.service-info {
  display: flex;
  margin-left: auto;
  gap: 100px;
}
.service-info h6 span {
  color: white;
  background-color: #2874f0;
  border-radius: 50%;
  height: 16px;
  margin: 2px 8px 0 0;
  width: 16px;
  float: left;
  text-align: center;
}

.question-icon {
  color: gray;
  font-size: 0.5rem;
  border: 1px solid gray;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 3px 0;
  text-align: center;
  cursor: pointer;
}

.deliver {
  display: flex;
  flex-direction: column;
}
.view-d {
  color: #2874f0;
  font-size: 1rem;
  cursor: pointer;
}
.offer-color {
  color: #26a541;
}

.dropdown button {
  background-color: #f8f9fa;
  border: 1px solid rgb(183, 177, 177);
  margin-bottom: 10px;
  border-radius: 0;
}

.dropdown button:hover {
  background-color: white !important;
}

/* product-details styles */

.product-details {
  font-family: "Afacad", sans-serif;
}
.header-title h1 {
  font-size: 1.7rem;
}

/* review styles*/
.rate {
  display: flex;
  flex-direction: column;
}

.comment-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: gray;
}
.comment-icons {
  display: flex;
  gap: 30px;
}

.rating {
  display: inline-flex;
  width: max-content;
  padding: 2px 7px;
  border-radius: 12px;
  font-size: 12px;
  background-color: #26a541;
  color: white;
  align-items: center;
}

.rating i {
  font-size: 8px;
  margin-left: 3px;
}
.header-title .rating {
  font-size: 22px;
}

.header-title .rating i {
  font-size: 13px;
}
.rating-head h4 {
  color: gray;
  font-size: 1rem;
}
.rating-head .rating {
  font-size: 16px;
}
