<div class="container-fluid">
  <div class="container-wrapper">
    <div class="image-content">
      <div class="image-sticky-wrapper">
        <div class="image-wrapper">
          <div class="image-column" routerLink="/pages/product-Details">
            <img
              src="../assets/cart-Images/sweat-shirt.webp"
              class="d-block w-100"
              alt="..."
              style="max-height: 370px; max-width: 550px"
            />
          </div>
        </div>

        <div class="footer-btn mt-3">
          <button
            type="submit"
            class="btn add-btn"
            routerLink="/pages/viewCart"
          >
            <i class="fa-solid fa-cart-shopping"></i>&nbsp; Go To Cart
          </button>
          <button type="submit" class="btn buy-btn">
            <i class="fa-solid fa-bolt-lightning"></i>&nbsp; Buy Now
          </button>
        </div>
      </div>
    </div>

    <div class="details-content">
      <span class="map-menu">
        <div class="menu-text d-block w-100" style="max-width: 400px">
          Home > Clothing and Accessories>Winter Wear > Sweatshirts>Men's Sweat
          shirts > FIONAA TRENDZ Men's Sweatshirts FIONAA TRENDZ Full Sleeve
          Printed Men Sweatshirt
        </div>

        <button class="btn border-0">
          <i class="fa-solid fa-share"></i> Share
        </button>
      </span>

      <h6>FIONAA TRENDZ</h6>
      <h6>Men Full Sleeve Printed Hooded Sweatshirt</h6>
      <h4 style="color: green">Special Offer</h4>
      <h4>₹625 ₹999 37% off</h4>

      <h4>3.865 ratings and 2 reviews</h4>

      <div class="offers">
        <h6>Available offers</h6>

        <p>
          Bank Offer10% off on Bank of Baroda Credit Card EMI Txns, up to ₹2,000
          on orders of ₹10,000 and aboveT&C
        </p>

        <p>
          Bank Offer10% off on IDFC FIRST Bank Credit Card EMI Transactions, up
          to ₹1,750 on orders of ₹10,000 and aboveT&C
        </p>

        <p>
          Bank Offer8% off on Yes Bank Credit Card EMI Transactions, up to
          ₹2,000 on orders of ₹10,000 and aboveT&C
        </p>

        <p>
          Bank OfferExtra ₹1000 off on Bank of Baroda Credit Card EMI 9 months
          and above tenure, Min. Txn Value ₹29,990T&C
        </p>

        <p style="color: #2874f0">+3 more offers</p>
      </div>

      <div class="product-details">
        <div class="header-title">
          <h1>Product Details</h1>
        </div>

        <div class="Description">
          <table class="table table-borderless">
            <!-- <thead>
               <th >Description</th>
                <th >price Cost</th>
            </thead> -->

            <tbody>
              <tr>
                <td>Color</td>
                <td>Blue</td>
              </tr>
              <tr>
                <td>Fabric</td>
                <td>Fleece</td>
              </tr>
              <tr>
                <td>Pattern</td>
                <td>Printed</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
