
.header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 3.5rem;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.header-bottom {
  background-color: rgb(6, 3, 32);
  color: white;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  top: 3.5rem;
  position: relative;

}

.searchbar {
  font-family: "Afacad", sans-serif;
  height: min-content;
  padding: 7px 15px;
}

.navbar-brand {
  font-family: "Afacad", sans-serif;
  font-size: 1.9rem;
  color: greenyellow;
  font-weight: 700;
  letter-spacing: 0.05em;
  /* margin-top: -100px; */
  
}
.sub-mainT {
  color: #0d6efd;
  font-size: 1.5rem;
}

button[type="submit"] {
  cursor: default;
}

.searchIcon {
  position: relative;
  right: 50px;
  bottom: 5px;
  border: none;
  cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.side-item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.side-item .nav-item {
  list-style-type: none;
}

.side-item a {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-family: "Afacad", sans-serif;
  color: rgb(99, 98, 98);
  cursor: default;
}

.side-item i {
  color: rgb(99, 98, 98);
  font-size: 1.3em;
}
.side-item .fa-chevron-down {
  font-size: 0.6em;
  position: relative;
  transition: transform 0.1s ease;
}

.side-item .fa-chevron-up{
  transform: rotate(-180deg);
}

/* parent of submenu position set */
.side-item > li {
  position: relative;
  padding-bottom: 5px;
}

.side-item > li:hover .submenu {
  display: block;
}

.submenu {
  width: 150px;
  background: white;
  top: 48px;
  left: 0px;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  /* border: 2px solid red; */
}
.submenu a {
  height: 40px;
  cursor: pointer;
}
.submenu i {
  font-size: 1rem;
}

.submenu .arrow-up {
  position: absolute;
  top: -30px;
  font-size: 4em;
  left: 50px;
  color: white !important;
}


/* Header Bottom */
.header-bottom {
  background-color: rgb(6, 3, 32);
  color: white;
  text-align: center;
  height: 2.6rem;
}

.category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-in-out;
  overflow-x: scroll; 
}

.category-list li {
  list-style: none;
  font-family: "Afacad", sans-serif;
  font-size: 16px;
  align-items: center;
  text-align: center;
}

.category-list a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.category-list a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: rgb(241, 35, 69);
  transition: width 0.5s ease-in-out;
}

.category-list a:hover::before {
  width: 100%;
}



@media screen and (max-width: 741px) {
  .searchbar::placeholder {
    display: none !important;
    color: transparent;
  }
 
  

}

/* <i class="fa-solid fa-bars"></i> */