<div class="containers">
  <div class="main-content">
    <div class="login-container">
      <form>
        <h3 class="title">Create Account</h3>

        <div class="input-group mt-5">
          <input type="text" placeholder="firstname" class="form-control" />
        </div>

        <div class="input-group mt-3">
          <input type="text" placeholder="lastname" class="form-control" />
        </div>

        <div class="input-group mt-3">
          <input type="text" placeholder="mobilenumber" class="form-control" />
        </div>

        <div class="input-group mt-3">
          <input type="text" placeholder="Email" class="form-control" />
        </div>

        <div class="input-group mt-3">
          <input type="password" placeholder="Password" class="form-control" />
        </div>
        <!-- <label class="forgetpass mt-1" routerLink="/ForgetPassword"
          >Forget Password?</label
        > -->
        <div class="mt-3">
          <button type="submit" class="btn btn-primary" (click)="onsubmit()">
            submit
          </button>
        </div>
        <div>
          <label class="signup"> Already have an account? </label>
          <span routerLink="/login">&nbsp;Sign in</span>
        </div>
      </form>
    </div>
  </div>
</div>
