<div class="containers">
  <div class="main-content">
    <div class="reset-container">
      <form>
        <h3 class="title">Reset Password</h3>
        <label class="subtitle mt-1">Enter new password</label><br />

        <label class="subject mt-5">New Password</label>
        <div class="input-group mt-1">
          <input
            type="text"
            placeholder="Enter new password"
            class="form-control"
          />
        </div>
        <label class="subject mt-4">Confirm Password</label>
        <div class="input-group mt-1">
          <input
            type="text"
            placeholder="Re-Enter password"
            class="form-control"
          />
        </div>
        <div class="mt-5">
          <button type="submit" class="btn btn-primary" routerLink="/login">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
