<app-category-header></app-category-header>

<div class="containers">
  <div
    id="carouselExampleIndicators"
    class="carousel slide mt-2"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../assets/Images/b6.jpg"
          class="d-block w-100"
          alt="..."
          style="max-height: 250px; width: 100%;"
          />
      </div>
      <div class="carousel-item">
        <img
          src="../assets/Images/b4.webp"
          class="d-block w-100"
          alt="..."
          style="max-height: 250px; width: 100%;"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../assets/Images/b5.jpg"
          class="d-block w-100"
          alt="..."
          style="max-height: 250px; width: 100%;"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev custom-carousel-btn"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
    <i class="fa-solid fa-chevron-left"></i>
      <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span> -->
    </button>
    <button
      class="carousel-control-next custom-carousel-btn"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
    <i class="fa-solid fa-chevron-right"></i>
      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span> -->
    </button>
  </div>

  <div class="card">
    <h2>
      Best of Electronics<span
        style="padding-left: 20px; font-size: 0.9rem; color: rgb(7, 7, 103)"
        ><a>See all offers</a></span
      >
    </h2>

    <div class="grid-container">
      <div class="card-body">
        <img
          src="../assets/Images/camera.webp"
          alt=""
          width="160px"
          height="120px"
        />
        <br />
        <div class="lines">
          <p style="margin: 5px 0">Top Mirrorless Camera</p>
          <p style="margin: 5px 0">Show Now!</p>
        </div>
      </div>

      <div class="card-body">
        <img
          src="../assets/Images/printers.webp"
          alt=""
          width="160px"
          height="120px"
        />
        <br />
        <div class="lines">
          <p style="margin: 5px 0">Printers</p>
          <p style="margin: 5px 0; font-weight: 500">From ₹3999</p>
        </div>
      </div>

      <div class="card-body">
        <img
          src="../assets/Images/monitor.webp"
          alt=""
          width="160px"
          height="120px"
          alt=""
        />
        <div class="lines">
          <p style="margin: 5px 0">Monitors</p>
          <p style="margin: 5px 0">From ₹179</p>
        </div>
      </div>

      <div class="card-body">
        <img
          src="../assets/Images/keyboard.webp"
          alt=""
          width="160px"
          height="120px"
          alt=""
        />
        <div class="lines">
          <p style="margin: 5px 0">Top Selling Dell keyboard</p>
          <p style="margin: 5px 0">From ₹229</p>
        </div>
      </div>

      <div class="card-body">
        <img
          src="../assets/Images/sd-card.webp"
          alt=""
          width="160px"
          height="120px"
          alt=""
        />
        <div class="lines">
          <p style="margin: 5px 0">Top Selling SD Cards</p>
          <p style="margin: 5px 0">From ₹429</p>
        </div>
      </div>

      <div class="card-body">
        <img
          src="../assets/Images/shave.webp"
          alt=""
          width="160px"
          height="120px"
          alt=""
        />
        <div class="lines">
          <p style="margin: 5px 0">Best of Shaver</p>
          <p style="margin: 5px 0">Shop Now!</p>
        </div>
      </div>

      <div class="card-body">
        <img
          src="../assets/Images/usb.webp"
          alt=""
          width="160px"
          height="120px"
          alt=""
        />
        <div class="lines">
          <p style="margin: 5px 0">USB Gadgets</p>
          <p style="margin: 5px 0">From ₹179</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <!-- <h2>Sports,Healthcare & More</h2> -->
    <h2>
      Todays'Deals<span
        style="padding-left: 20px; font-size: 0.9rem; color: rgb(7, 7, 103)"
        ><a>See all offers</a></span
      >
    </h2>
    <div class="grid-container">
      <div class="card-body">
        <img
          src="../assets/Images/cycle.webp"
          alt=""
          width="140px"
          height="120px"
          alt=""
        />
        <div class="lines">
          <p style="margin: 5px 0">Electric Cycles</p>
          <p>
            <span class="today-offer">Min 20% off</span
            ><span
              style="color: rgb(203, 3, 36); font-size: 0.7rem; padding: 0 4px"
              >Deal of the Day</span
            >
          </p>
        </div>
      </div>

      <div class="card-body">
        <img
          src="../assets/Images/tube1.webp"
          alt=""
          width="140px"
          height="140px"
          alt=""
        />
        <div class="lines">
          <p style="margin: 5px 0">Resistance Tube</p>
          <p>
            <span class="today-offer">Upto 40% off</span
            ><span
              style="color: rgb(203, 3, 36); font-size: 0.8rem; padding: 0 4px"
              >Deal of the Day</span
            >
          </p>
        </div>
      </div>

      <div class="card-body">
        <img
          src="../assets/Images/honey.webp"
          alt=""
          width="160px"
          height="160px"
          alt=""
        />
        <div class="lines">
          <p style="margin: 5px 0">Honey</p>
          <p>
            <span class="today-offer">Upto 75% off</span
            ><span
              style="color: rgb(203, 3, 36); font-size: 0.8rem; padding: 0 4px"
              >Deal of the Day</span
            >
          </p>
        </div>
      </div>

      <div class="card-body">
        <img src="../assets/Images/helmet.webp" alt="" width="160px"   height="160px"
        />
        <div class="lines">
          <p style="margin: 5px 0">Helmet</p>
          <p>
            <span class="today-offer">Upto 20% off</span
            ><span
              style="color: rgb(203, 3, 36); font-size: 0.8rem; padding: 0 4px"
              >Deal of the Day</span
            >
          </p>
        </div>
      </div>

      <div class="card-body">
        <img src="../assets/Images/tea.webp" alt="" width="160px"           height="160px"
        />
        <div class="lines">
          <p style="margin: 5px 0">Tea Powder</p>
          <p>
            <span class="today-offer">Upto 50% off</span
            ><span
              style="color: rgb(203, 3, 36); font-size: 0.8rem; padding: 0 4px"
              >Deal of the Day</span
            >
          </p>
        </div>
      </div>

      <div class="card-body">
        <img src="../assets/Images/shoes.webp" alt="" width="160px"           height="160px"
        />
        <div class="lines">
          <p style="margin: 5px 0">Shoes</p>
          <p>
            <span class="today-offer">Upto 40% off</span
            ><span
              style="color: rgb(203, 3, 36); font-size: 0.8rem; padding: 0 4px"
              >Deal of the Day</span
            >
          </p>
        </div>
      </div>

      <div class="card-body">
        <img src="../assets/Images/food.webp" alt="" width="160px"          height="160px"
        />
        <div class="lines">
          <p style="margin: 5px 0">Food Spreads</p>
          <p>
            <span class="today-offer">Upto 75% off</span
            ><span
              style="color: rgb(203, 3, 36); font-size: 0.8rem; padding: 0 4px"
              >Deal of the Day</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <h2>
      Beauty,Toys & More<span
        style="padding-left: 20px; font-size: 0.9rem; color: rgb(7, 7, 103)"
        ><a>See all offers</a></span
      >
    </h2>

    <div class="grid-container">
      <div class="card-body">
        <img src="../assets/Images/toy.webp" alt="" width="160px" alt="" />
        <div class="lines">
          <p style="margin: 5px 0">Soft Toy</p>
          <p style="margin: 5px 0">From ₹299</p>
        </div>
      </div>

      <div class="card-body">
        <img src="../assets/Images/dry.webp" alt="" width="160px" alt="" />
        <div class="lines">
          <p style="margin: 5px 0">Dry Foods</p>
          <p style="margin: 5px 0">Upto 20% off</p>
        </div>
      </div>

      <div class="card-body">
        <img src="../assets/Images/gym.webp" alt="" width="160px" alt="" />
        <div class="lines">
          <p style="margin: 5px 0">Gym Essentials</p>
          <p style="margin: 5px 0">From ₹149</p>
        </div>
      </div>

      <div class="card-body">
        <img src="../assets/Images/micro.webp" alt="" width="160px" alt="" />
        <div class="lines">
          <p style="margin: 5px 0">MicroPhones</p>
          <p style="margin: 5px 0">Upto 20% off</p>
        </div>
      </div>

      <div class="card-body">
        <img
          src="../assets/Images/stationery.webp"
          alt=""
          width="160px"
          alt=""
        />
        <div class="lines">
          <p style="margin: 5px 0">Top Selling stationery</p>
          <p style="margin: 5px 0">From ₹49</p>
        </div>
      </div>

      <div class="card-body">
        <img src="../assets/Images/remote.webp" alt="" width="160px" alt="" />
        <div class="lines">
          <p style="margin: 5px 0">Remote Control Toys</p>
          <p style="margin: 5px 0">Min 20% off</p>
        </div>
      </div>

      <div class="card-body">
        <img
          src="../assets/Images/bats.webp"
          alt=""
          width="50px"
          height="180px"
          alt=""
        />
        <div class="lines">
          <p style="margin: 5px 0">Cricket bats</p>
          <p style="margin: 5px 0">From 199</p>
        </div>
      </div>
    </div>
  </div>

  <img src="../assets/Images/keyads.jpg" class="d-block w-100" alt="..." />

  <!-- top-section -->
  <div class="recommendation">
    <div class="card recommendation-container">
      <h2>Top Selection</h2>
      <div class="suggestion-container">
        <div class="card-body">
          <img src="../assets/Images/shirt.webp" alt=""  width="160px"
          height="120px" alt="" />
          <div class="lines">
            <p style="margin: 5px 0">Men's T-shirt</p>
            <p style="margin: 5px 0" class="offers">Special Offer</p>
          </div>
        </div>

        <div class="card-body">
          <img
            src="../assets/Images/wat.webp"
            alt=""
            width="160px"
            height="120px"
            alt=""
          />
          <div class="lines">
            <p style="margin: 5px 0">Wrest Watches</p>
            <p style="margin: 5px 0" class="offers">Min 90% off</p>
          </div>
        </div>

        <div class="card-body">
          <img src="../assets/Images/bags.webp" alt=""  width="160px"
          height="120px" alt="" />
          <div class="lines">
            <p style="margin: 5px 0">Laptop bags</p>
            <p style="margin: 5px 0" class="offers">Special offer</p>
          </div>
        </div>

        <div class="card-body">
          <img src="../assets/Images/tube.webp" alt=""  width="160px"
          height="120px"alt="" />
          <div class="lines">
            <p style="margin: 5px 0">Resistance Tube</p>
            <p style="margin: 5px 0" class="offers">Min 20% off</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card recommendation-container">
      <h2>Suggestion for You</h2>

      <div class="suggestion-container">
        <div class="card-body">
          <img
            src="../assets/Images/sweat-shirt.webp"
            alt=""
            width="220px"
            height="400px"
          />
          <div class="lines">
            <p >Sweat Shirts</p>
            <p  class="offers">Min 20% off</p>
          </div>
        </div>

        <div class="card-body">
          <img src="../assets/Images/mobile.webp" alt=""   width="190px"
          height="400px" />
          <div class="lines">
            <p>Mobiles</p>
            <p class="offers">Special offer</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card recommendation-container">
      <h2>End of Season Bestsellers</h2>
      <div class="suggestion-container">
        <div class="card-body">
          <img src="../assets/Images/spark.webp" alt="" width="160px" />
          <div class="lines">
            <p style="margin: 5px 0">Black Sports Sandal</p>
            <p style="margin: 5px 0" class="offers">Min 60% off</p>
          </div>
        </div>

        <div class="card-body">
          <img
            src="../assets/Images/cycle.webp"
            alt=""
            width="160px"
            height="120px"
            alt=""
          />
          <div class="lines">
            <p style="margin: 5px 0">Electric Cycles</p>
            <p style="margin: 5px 0" class="offers">Min 50% off</p>
          </div>
        </div>

        <div class="card-body">
          <img src="../assets/Images/usb-g.webp" alt="" width="160px" />
          <div class="lines">
            <p style="margin: 5px 0">USB Gadgets</p>
            <p style="margin: 5px 0" class="offers">Upto 40% off</p>
          </div>
        </div>

        <div class="card-body">
          <img
            src="../assets/Images/keyboard.webp"
            alt=""
            width="160px"
            height="120px"
            alt=""
          />
          <div class="lines">
            <p style="margin: 5px 0">Top Selling Dell keyboard</p>
            <p style="margin: 5px 0" class="offers">From ₹229</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
