.containers {
  height: fit-content;
  padding: 1rem;
  background-color: #e7e9e9;
}

.carousel-indicators button {
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

.custom-carousel-btn {
  width: 3%;
  opacity: 1;
  background: white;
  height: 35%;
  margin-top: 65px;
}
.custom-carousel-btn i {
  color: rgb(42, 41, 41) !important;
  font-size: 0.8em;
}

.carousel-control-prev {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.carousel-control-next {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modified {
  height: 270px;
  background: white;
}
/* .modified .row>div{ */
.modified .row {
  display: flex;
  flex-wrap: nowrap;
}

.title {
  padding: 5px 15px;
  font-family: "Afacad", sans-serif;
}

.image-box {
  width: 100%;
  height: fit-content;
  margin: 0 15px;
}

/* .image-box .row{
  background: rgb(255, 25, 25)!important;
} */

.image-box .row .col {
  /* border: 2px solid rgb(0, 0, 0); */
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #e4e4e4;
  font-family: "Afacad", sans-serif;
  /* height: 300px; */
}

.card-item img {
  margin: 10px;
  max-width: 160px;
  height: 85px;
  /* height: 50%; */
  object-fit: cover;
  transition: transform 0.1s ease;

}

.card-item img:hover {
  transform: scale(1.2);
}

.description p {
  margin: 0px 0 10px 0;
  line-height: normal;
  font-family: "Afacad", sans-serif;
}
.dark-font {
  font-weight: 600;
}

.offers {
  color: green;
  font-size: 1.2rem;
}

.today-offer {
  margin: 5px 0;
  background-color: rgb(203, 3, 36);
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 0.1rem;
}


/* recommendation styles */
.recommendation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  gap: 10px;
}

.recommendation::-webkit-scrollbar {
    overflow-x: hidden;
  }


.suggestion-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 1rem;
}
.recommand-card {
  display: flex;
  min-width: 450px;
  background-color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.recommand-card .image-box {
  border: 2px solid #e4e4e4;
  margin: 0;
}

.recommand-card img {
  width: 160px;
  height: 160px;
  padding: 0.8rem;
  transition:transform 0.1s ease ;
}
.recommand-card img:hover {
transform: scale(1.1);
}
.recommand-card .description p {
  margin: 0;
  line-height: normal;
  font-family: "Afacad", sans-serif;
}

.suggest-img img {
  width: 240px;
  height: 380px;
}

@media screen and (max-width: 568px) {
  .recommendation {
    flex-direction: column;
  }

  .recommand-card {
    min-width: 100%;
  }

  .suggestion-container img {
    width: 100%;
  }
}


@media screen and (max-width: 1130px) {
  .image-box {
    overflow-x: scroll;
    white-space: nowrap;
  }
  /* .image-box::-webkit-scrollbar {
    overflow-x: hidden;
  } */
  .custom-carousel-btn {
    display: none;
  }


 
}
