<!-- <app-category-header></app-category-header> -->

<div class="containers">
  <div
    id="carouselExampleIndicators"
    class="carousel slide mt-2"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../assets/Images/b6.jpg"
          class="d-block w-100"
          alt="..."
          style="max-height: 250px; width: 100%"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../assets/Images/b4.webp"
          class="d-block w-100"
          alt="..."
          style="max-height: 250px; width: 100%"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../assets/Images/b5.jpg"
          class="d-block w-100"
          alt="..."
          style="max-height: 250px; width: 100%"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev custom-carousel-btn"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <i class="fa-solid fa-chevron-left"></i>
      <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span> -->
    </button>
    <button
      class="carousel-control-next custom-carousel-btn"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <i class="fa-solid fa-chevron-right"></i>
      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span> -->
    </button>
  </div>

  <!-- modified content -->


  <div class="modified mt-4">
    <div class="row d-flex flex-nowrap">
      <div class="col-md-12">
        <div class="title d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Todays'Deals</h5>
          <a class="btn view-btn" style="color: rgb(61, 164, 255)"
            >See all offers</a
          >
        </div>
        <div id="carouselExampleIndicators3" class="carousel slide mt-2">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="image-box">
                <div class="row">
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/cycle.webp"
                        alt=""
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Electric Cycles</p>
                        <p>
                          <span class="today-offer">Min 20% off</span
                          ><span
                            style="
                              color: rgb(203, 3, 36);
                              font-size: 0.7rem;
                              padding: 0 4px;
                            "
                            >Deal of the Day</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/tube1.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Resistance Tube</p>
                        <p>
                          <span class="today-offer">Upto 40% off</span
                          ><span
                            style="
                              color: rgb(203, 3, 36);
                              font-size: 0.8rem;
                              padding: 0 4px;
                            "
                            >Deal of the Day</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/honey.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Honey</p>
                        <p>
                          <span class="today-offer">Upto 75% off</span
                          ><span
                            style="
                              color: rgb(203, 3, 36);
                              font-size: 0.8rem;
                              padding: 0 4px;
                            "
                            >Deal of the Day</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/helmet.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Helmet</p>
                        <p>
                          <span class="today-offer">Upto 20% off</span
                          ><span
                            style="
                              color: rgb(203, 3, 36);
                              font-size: 0.8rem;
                              padding: 0 4px;
                            "
                            >Deal of the Day</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/tea.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Tea Powder</p>
                        <p>
                          <span class="today-offer">Upto 50% off</span
                          ><span
                            style="
                              color: rgb(203, 3, 36);
                              font-size: 0.8rem;
                              padding: 0 4px;
                            "
                            >Deal of the Day</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/shoes.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Shoes</p>
                        <p>
                          <span class="today-offer">Upto 40% off</span
                          ><span
                            style="
                              color: rgb(203, 3, 36);
                              font-size: 0.8rem;
                              padding: 0 4px;
                            "
                            >Deal of the Day</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev custom-carousel-btn"
            type="button"
            data-bs-target="#carouselExampleIndicators3"
            data-bs-slide="prev"
          >
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <button
            class="carousel-control-next custom-carousel-btn"
            type="button"
            data-bs-target="#carouselExampleIndicators3"
            data-bs-slide="next"
          >
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modified mt-4">
    <div class="row d-flex flex-nowrap">
      <div class="col-md-12">
        <div class="title d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Best of Electronics</h5>
          <a class="btn view-btn" style="color: rgb(61, 164, 255)"
            >See all offers</a
          >
        </div>
        <div id="carouselExampleIndicators2" class="carousel slide mt-2">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="image-box">
                <div class="row">
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/camera.webp"
                        alt=""
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Top Mirrorless Camera</p>
                        <p class="dark-font">Shop Now!</p>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/printers.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Printers</p>
                        <p class="dark-font">From ₹3999</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/monitor.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Monitors</p>
                        <p class="dark-font">From ₹4999</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/keyboard.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Top Selling Dell keyboard</p>
                        <p class="dark-font">From ₹229</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/sd-card.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Top Selling SD Cards</p>
                        <p class="dark-font">From ₹2999</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/shave.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Best of Shaver</p>
                        <p class="dark-font">Shop Now!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="image-box">
                <div class="row">
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/usb.webp"
                        alt=""
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>USB Gadgets</p>
                        <p class="dark-font">Shop Now!</p>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/keyboard.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Top Selling Dell keyboard</p>
                        <p class="dark-font">From ₹229</p>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/sd-card.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Top Selling SD Cards</p>
                        <p class="dark-font">From ₹2999</p>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/printers.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Printers</p>
                        <p class="dark-font">From ₹3999</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/monitor.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Monitors</p>
                        <p class="dark-font">From ₹4999</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev custom-carousel-btn"
            type="button"
            data-bs-target="#carouselExampleIndicators2"
            data-bs-slide="prev"
          >
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <button
            class="carousel-control-next custom-carousel-btn"
            type="button"
            data-bs-target="#carouselExampleIndicators2"
            data-bs-slide="next"
          >
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  

  <img src="../assets/Images/keyads.jpg" class="d-block w-100 mt-4" alt="..." />

  <div class="modified mt-4">
    <div class="row d-flex flex-nowrap">
      <div class="col-md-12">
        <div class="title d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Beauty,Toys & More</h5>
          <a class="btn view-btn" style="color: rgb(61, 164, 255)"
            >See all offers</a
          >
        </div>
        <div id="carouselExampleIndicators4" class="carousel slide mt-2">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="image-box">
                <div class="row">
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/toy.webp"
                        alt=""
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Soft Toy</p>
                        <p>From ₹299</p>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/dry.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Dry Foods</p>
                        <p class="dark-font">Upto 40% off</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/gym.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Gym Essentials</p>
                        <p class="dark-font">From ₹499</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/micro.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>MicroPhones</p>
                        <p class="dark-font">Upto 30% off</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/stationery.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Top Selling stationery</p>
                        <p class="dark-font">From ₹29</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/remote.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Remote Control Toys</p>
                        <p class="dark-font">Shop Now!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="image-box">
                <div class="row">
                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/bats.webp"
                        alt=""
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Cricket Bats</p>
                        <p class="dark-font">Shop Now!</p>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/sd-card.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Top Selling SD Cards</p>
                        <p class="dark-font">From ₹2999</p>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card-item">
                      <img
                        src="../assets/Images/printers.webp"
                        class="d-block img-fluid"
                        alt="..."
                      />
                      <div class="description">
                        <p>Printers</p>
                        <p class="dark-font">From ₹3999</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev custom-carousel-btn"
            type="button"
            data-bs-target="#carouselExampleIndicators4"
            data-bs-slide="prev"
          >
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <button
            class="carousel-control-next custom-carousel-btn"
            type="button"
            data-bs-target="#carouselExampleIndicators4"
            data-bs-slide="next"
          >
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- recommendation-container -->
  <div class="recommendation">
    <div class="recommand-card mt-4">
      <div class="row">
        <div class="col-md-12">
          <div class="title d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Top Selection</h5>
            <a class="btn view-btn" style="color: rgb(61, 164, 255)"
              >See all offers</a
            >
          </div>
          <div class="suggestion-container">
            <div class="image-box">
              <img
                src="../assets/Images/shirt.webp"
                class="d-block img-fluid"
                alt="..."
              />
              <div class="description">
                <p>Men's T-shirt</p>
                <p class="offers">Special Offer</p>
              </div>
            </div>

            <div class="image-box">
              <img
                src="../assets/Images/wat.webp"
                alt=""
                class="d-block img-fluid"
                alt="..."
              />
              <div class="description">
                <p>Wrest Watches</p>
                <p class="offers">Min 90% off</p>
              </div>
            </div>

            <div class="image-box">
              <img
                src="../assets/Images/bags.webp"
                class="d-block img-fluid"
                alt="..."
              />
              <div class="description">
                <p>Laptop bags</p>
                <p class="offers">Special offer</p>
              </div>
            </div>

            <div class="image-box">
              <img
                src="../assets/Images/tube.webp"
                class="d-block img-fluid"
                alt="..."
              />
              <div class="description">
                <p>Resistance Tube</p>
                <p class="offers">Min 20% off</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Suggestion for You -->
    <div class="recommand-card mt-4">
      <div class="row">
        <div class="col-md-12">
          <div class="title d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Suggestion for You</h5>
            <a class="btn view-btn" style="color: rgb(61, 164, 255)"
              >See all offers</a
            >
          </div>
          <div class="suggestion-container suggest-img">
            <div class="image-box">
              <img
                src="../assets/Images/sweat-shirt.webp"
                class="d-block img-fluid"
              />
              <div class="description">
                <p>Sweat Shirts</p>
                <p class="offers">Min 20% off</p>
              </div>
            </div>

            <div class="image-box">
              <img
                src="../assets/Images/mobile.webp"
                class="d-block img-fluid"
                width="190px"
                height="400px"
              />
              <div class="description">
                <p>Mobiles</p>
                <p class="offers">Special offer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End of Season Bestsellers -->

    <div class="recommand-card mt-4">
      <div class="row">
        <div class="col-md-12">
          <div class="title d-flex justify-content-between align-items-center">
            <h5 class="mb-0">End of Season Bestsellers</h5>
            <a class="btn view-btn" style="color: rgb(61, 164, 255)"
              >See all offers</a
            >
          </div>
          <div class="suggestion-container">
            <div class="image-box">
              <img src="../assets/Images/spark.webp" alt="" 
              class="d-block img-fluid"
              />
              <div class="description">
                <p>Black Sports Sandal</p>
                <p class="offers">Min 60% off</p>
              </div>
            </div>

            <div class="image-box">
              <img src="../assets/Images/cycle.webp" alt=""                  class="d-block img-fluid"
              />
              <div class="description">
                <p>Electric Cycles</p>
                <p class="offers">Min 50% off</p>
              </div>
            </div>

            <div class="image-box">
              <img src="../assets/Images/usb-g.webp"                 class="d-block img-fluid"
              />
              <div class="description">
                <p>USB Gadgets</p>
                <p class="offers">Upto 40% off</p>
              </div>
            </div>

            <div class="image-box">
              <img
                src="../assets/Images/keyboard.webp"
                class="d-block img-fluid"

                alt=""
              />
              <div class="description">
                <p>Top Selling Dell keyboard</p>
                <p class="offers">From ₹229</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
