@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@500&display=swap");


.containers {
  height: 100vh;
  background-image: url("../../../assets/Images/ee.jpg");
  background-size: auto 90%;
  background-position: right top;
  background-repeat: no-repeat;
}
.main-title {
  font-family: "Afacad", sans-serif;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  color: greenyellow;
}
.sub-mainT {
  color: #0d6efd;
  font-size: 2rem;
}
.main-content {
  display: flex;
  flex: start;
}

.otp-container {
  height: 450px;
  width: 300px;
  background-color: white;
  margin: 1rem 0 0 4rem;
  padding: 2rem;
  text-align: center;
}

.title{
  letter-spacing: 0.05rem;
}

.otp-container h4 {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  font-family: "Afacad", sans-serif;
}
.subtitle1 {
  color: gray;
  font-size: 1rem;
  font-family: "Afacad", sans-serif;
  padding: 0.5rem;
}

.subject {
  display: flex;
  padding-left: 1.25rem;
  color: gray;
  font-size: 1rem;
  font-family: "Afacad", sans-serif;
}

:where(.input-field) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-field {
  flex-direction: row;
  column-gap: 10px;
}
.input-field input {
  height: 45px;
  width: 42px;
  border-radius: 10px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #a5a0a0;
  font-family: "Afacad", sans-serif;
}
.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}

.resend-otp {
  position: relative;
  font-size: 1rem;
  float: right;
  color: gray;
  font-family: "Afacad", sans-serif;
  text-decoration: underline;
}

.resend-otp:hover {
  color: black;
}

button {
  height: 40px;
  width: 120px;
  /* border-radius: 10px; */
  cursor: pointer;
  font-weight: 500;
  border: none;
  font-family: "Afacad", sans-serif;
  justify-content: center;
  margin-top: 1.2rem;
  background-color: #f45e3d;

}


@media screen and (max-width: 1600px) {
  .containers {
    background-position:  right  ;
    background-size: auto 85%;
  }
}
@media screen and (max-width: 1420px) {
  .containers {
    background-position:  right  ;
    background-size: auto 75%;
  }
}

@media screen and (max-width: 1290px) {
  .containers {
    background-position:  right  ;
    background-size: auto 65%;
  }
}
@media screen and (max-width: 1140px) {
  .containers {
    background-position:  right  ;
    background-size: auto 60%;
    
  }
  .otp-container {
    max-width: 300;
    padding: 2rem;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1060px) {
  .containers {
    background-position:  right ;
    background-size: auto 55%;
  }
  .otp-container {
    max-width: 250px;
    padding: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .containers {
    background-position:  right ;
    background-size: auto 40%;
  }
}

@media screen and (max-width: 800px) {
  .containers {
    background-position:  right ;
    background-size: auto 35%;
  }
}

@media screen and (max-width: 726px) {
  .containers {
    background-position:  right ;
    background-size: auto 60%;
  }
  .main-content {
    display: flex;
    justify-content: center; 
  }
  .otp-container {
    margin: 1rem ; 
    width: 90%; 
    max-width: 280px;
    padding: 2rem;
    text-align: center;
    justify-content: center;
  }
}