<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-white py-0">

  <div class="header-content">
    <a class="navbar-brand">E-<span class="sub-mainT">kart</span></a>

    <form class="d-flex">
      <input
        class="form-control searchbar"
        type="search"
        placeholder="Search for Product, Brands, and More"
      />
      <button class="searchIcon" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>

    <div class="icons">
      <p><i class="fa fa-shopping-cart fa-lg"></i> Cart</p>
      <p>
        <button type="button" class="btn" 
           data-bs-container="body" 
           data-bs-toggle="popover" 
           data-bs-placement="left" 
           id="popoverBtn">
           <i class="fa fa-user-circle fa-lg"></i> Gaurav <i class="fa fa-caret-down"></i>
        </button>
      </p>
    </div>
    
    <div id="popoverContent" class="d-none">
      <div class="d-flex flex-column">
        <a href="#" class="text-decoration-none text-dark mb-2">Profile</a>
        <a href="#" class="text-decoration-none text-dark mb-2">Wishlist</a>
        <a href="#" class="text-decoration-none text-dark mb-2">Logout</a>
      </div>
    </div>
    

    <!-- <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">
      Popover on bottom
    </button> -->
    
  </div>
</nav>



