<nav class="navbar navbar-expand-lg navbar-dark bg-white py-0">
  <div
    class="container-fluid "
  >
    <a class="navbar-brand">E-<span class="sub-mainT">kart</span></a>

    <form class="d-flex">
      <input
        class="form-control me-1 searchbar"
        type="search"
        placeholder="Search for Product, Brands, and More"
        aria-label="Search"
      />
      <button class="btn searchIcon" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>

  
<!-- <i class="fa-solid fa-cart-shopping"></i>
<br>
<i class="fa-solid fa-circle-user"></i> -->
</nav>
